.d{
    color: black;
}
#foto {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-foto{
    max-width: 200px;
    max-height: 200px;
    border: black solid 3px;
}
header{
    display: flex;
    padding: 10px;
    background: #689CD2;
    color: #fff;
}
h1{
    margin-left: 10px;
}
.header{
    display: flex;
    align-items: center;
    color: rgb(181, 247, 0) ;
}
.nav{
    display: inline-flex;
    font-size: 29px;
    margin-left: 25%;    
}

.hover-header{
    margin-left: 15px;
    padding: 8px;
    white-space: nowrap;
}
.hover-header:hover{
    background-color: darkkhaki;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color:#fff;
}
li{
    list-style-type: none; 
}
h2{
    display: flex; /* Использование flex-контейнера для центрирования */
    justify-content: center; /* Выравнивание контента по горизонтали (по центру) */
}
.paragraph{
    text-indent: 25px;   
}
.center-p{
    margin-left: 8%;
}
.paragraph::first-line {
    color: blue; /* цвет первой строки */
    font-size: 1.5em; /* размер шрифта первой строки - 1.5 раза больше остального текста */
  }
  